* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bs-primary: #C19A5B;
    --bs-font-family: 'Ivy Mode';
    --bs-font-family-secondary: 'Reman';
    --bs-white: #fff;
    --bs-black: #000000;
}

.m-50 {
    margin: 50px 0px;
}

a {
    text-decoration: none;
}

ul,
p {
    margin-bottom: 0px;
}

ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--bs-black) !important;
    font-weight: 600 !important;
}

.btn {
    background-color: #F2F2F2;
    margin-left: 10px;
}

.btn:hover {
    background-color: var(--bs-primary);
}

/* header */
header .navbar {
    z-index: 2;
    position: absolute;
    width: 100%;
    left: 0;
}

#logout {
    cursor: pointer;
}

.navbar {
    padding: 30px 30px 10px;
}

.navbar a img {
    width: 60px;
}

.navbar .header {
    width: 100%;
}

.navbar .logo {
    width: 150px;
}

ul li a {
    padding-right: 30px !important;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
}

header .navbar .collapse ul li a::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background-color: red;
    bottom: 15px;
    transition: all 0.5s;
    left: 0;
}

header .navbar .collapse ul li a:hover::after {
    width: 70%;
}

.icon ul li a i {
    color: var(--bs-black);
    cursor: pointer;
}

.icon ul li a i::before {
    font-weight: 900 !important;
}

/* Main Section*/
.main {
    z-index: 1;
    position: relative;
}

.bg-img {
    background-image: url('../images/bg-01.jpg');
    /* background-position: center 70%; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--bs-font-family);
}

.main .text {
    background-color: rgba(0, 0, 0, 0.5);
    width: 180px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 65%;
    border-left: #fff 3px solid;
}

.main .text h4 {
    font-size: 25px;
    color: var(--bs-white);
    text-align: left;
    padding: 10px 0px 15px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main .title {
    background-image: url('../images/bg-03.png');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: 10% 30%;
    height: 800px;
}


/* Search Box Styles */
.search-box {
    position: relative;
    width: 250px;
}

.search-box input {
    background-color: rgba(115, 108, 108, 0.15);
    border: 1px solid rgb(69, 69, 69);
    color: #000000;
    padding: 8px 35px 8px 15px;
    border-radius: 25px;
    width: 100%;
    transition: all 0.3s ease;
}

.search-box input:focus {
    background-color: rgba(115, 108, 108, 0.15);
    /* border-color: rgba(255, 255, 255, 0.3); */
    border: 1px solid rgb(69, 69, 69);
    box-shadow: none;
    outline: none;
}

.search-box input::placeholder {
    color: rgb(49, 49, 49);
}

.search-box .search-icon {
    position: absolute;
    right: 12px;
    top: 47%;
    transform: translateY(-50%);
    color: rgba(49, 49, 49);
    pointer-events: none;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 22px 14px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}